<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="https://wallpapercave.com/wp/wp11350008.jpg" alt="Beach Illustration">
        </div>
        <div class="right">
            <div class="logo">
                <img src="https://dynamic.design.com/preview/logodraft/eb86fc23-0abe-4984-beaf-b32b42fab518/image/large.png"
                    ,alt="Royal Booking Logo">
            </div>
            <h2>Unlock more savings as a member</h2>
            <div>
                <form action="/insert" class="login-form" method="post">
                    <label for="em">Log in or create account with your email</label>
                    <input type="email" id="em" name="em" placeholder="Enter email address">
                    <label for="ps">Enter Password</label>
                    <input type="password" id="ps" name="ps" placeholder=" Enter your password">
                    <button type="submit" class="btn">Continue</button>

                </form>
            </div>
            <div class="divider">
                <span>or continue with</span>
            </div>
            <div class="social-login">
                <button class="social-btn google">Google</button>
                <button class="social-btn apple">Apple</button>
                <button class="social-btn facebook">Facebook</button>
            </div>
            <p class="terms">
                By creating an account, you agree to our <a href="#">Privacy policy</a> and <a href="#">Terms of
                    use</a>.
            </p>
        </div>
    </div>
</body>

</html>